<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email System</title>
    <link rel="stylesheet" href="/css/compose.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <%- include('header'); -%>
      <div class="titlePage">Compose Page</div>
      <div class="content"><%- include('menu'); -%></div>
    </div>

    <div class="containerSend">
      <form method="post" action="/compose">
        <label for="from"><strong>From</strong> <%=user%> (me) </label>
        <div>
          <label for="receiver_name"><strong>Email to</strong> </label>
          <select id="receiver_name" name="receiver_name" required>
            <option value="a@a.com">a@a.com</option>
            <option value="b@a.com">b@a.com</option>
            <option value="c@a.com">c@a.com</option>
          </select>
        </div>
        <div>
          <label for="subject"><strong>Subject</strong></label>
          <input type="text" id="subject" name="subject" required />
        </div>
        <textarea
          name="body"
          id="body"
          cols="30"
          rows="10"
          placeholder="Your email..."
        ></textarea>
        <div>
          <label for="file"></label>
          <input type="file" name="file" id="file" />
        </div>
        <button class="btnSend" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
