<style>
  .header {
    background-color: #00b2bf;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .signout {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .signout:hover {
    color: #ddd;
  }
  .title {
    font-size: 20px;
  }
</style>

<div class="header">
  <span class="title">Welcome Guy</span>
  <a href="/signout" class="signout">Sign Out</a>
</div>
