<style>
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .ulMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .ulMenu li {
    font-size: 20px;
  }
</style>

<div class="menu">
  <ul class="ulMenu">
    <li><a href="/compose">Compose</a></li>
    <li><a href="/inbox">Inbox</a></li>
    <li><a href="/outbox">Outbox</a></li>
  </ul>
</div>
